@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    background-color: lightgray;
  }

nav {   
    display: flex;
    justify-content: space-between;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100vw;
}

li {
    display: inline;
    font-size: larger;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: #fff;
}

li a {
    display: block;
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: #fff;
}

li a:hover {
    background-color: gainsboro;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    background-color: hsla(160, 0%, 35%, 1);
    overflow-x: hidden;
}

h1 {
    margin: 10px;
}

.box {
    background-color: greenyellow;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 250px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(200%);
    transition: transform 0.5s ease;
    z-index: -1;
}

.box:nth-of-type(odd) {
    transform: translateX(-200%);
}

.box.show {
    transform: translateX(0);
}

.box h2 {
    font-size: 45px;
}

