@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    background-color: lightgray;
  }

nav {   
    display: flex;
    justify-content: space-between;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100vw;
}

li {
    display: inline;
    font-size: larger;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: #fff;
}

li a {
    display: block;
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: #fff;
}

li a:hover {
    background-color: gainsboro;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: hsla(160, 0%, 35%, 1);
}

.btn {
    background-color: rebeccapurple;
    border-radius: 10px;
    border: none;
    color: white;
    margin: 1.25rem;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    font-family: inherit;
}
